In [21]:
import boto3
import pandas as pd
import time
from io import StringIO

In [81]:
AWS_REGION = "us-west-1"
AWS_ACCESS_KEY = "AKIA6PR6YWQACTOYZPXI"
AWS_SECRET_KEY = "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"
SCHEMA_NAME = "covid-19"
S3_STAGING_DIR = "S3://athena-output-covid19-jhu/output/"
S3_BUCKET_NAME = "athena-output-covid19-jhu"
S3_OUTPUT_DIRECTORY="output"

In [82]:
athena_client = boto3.client (
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [83]:
Dict = {}
def callathena(client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
        )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
        
    )
    return pd.read_csv(temp_file_location)

In [125]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM enigma_jhud limit 7800",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
enigma_jhud = callathena(athena_client, response)

In [126]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM countrycode",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
countrycode = callathena(athena_client, response)

In [128]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM countypopulation",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
countypopulation = callathena(athena_client, response)

In [145]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM state_abv",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
state_abv = callathena(athena_client, response)

In [133]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM states_daily",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
states_daily = callathena(athena_client, response)

In [134]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM us_county",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
us_county = callathena(athena_client, response)

In [135]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM us_daily",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
us_daily = callathena(athena_client, response)

In [136]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM us_states",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
us_states = callathena(athena_client, response)

In [137]:
response = athena_client.start_query_execution(
        QueryString = "SELECT * FROM us_total_latest",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
        },    
)
us_total_latest = callathena(athena_client, response)

In [147]:
header = state_abv.iloc[0]

In [148]:
state_abv = state_abv[1:]
state_abv.columns = header

In [149]:
state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [150]:
enigma_jhud[['fips']]

         fips
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
7795  48101.0
7796  48105.0
7797  48107.0
7798  48109.0
7799  48111.0

[7800 rows x 1 columns]

In [153]:
fact1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
fact2 = states_daily[['fips', 'date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizeddischarged']]
fact_table = pd.merge(fact1, fact2, on='fips', how='inner')

In [156]:
fact_table.shape

(5041, 13)

In [162]:
dimension_region1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimension_region2 = us_county[['fips', 'county', 'state']]
dimension_region = pd.merge(dimension_region1, dimension_region2, on='fips', how='inner')

In [163]:
dimension_region

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
1962662,48099.0,Texas,US,31.391,-97.799,Coryell,Texas
1962663,48099.0,Texas,US,31.391,-97.799,Coryell,Texas
1962664,48099.0,Texas,US,31.391,-97.799,Coryell,Texas
1962665,48099.0,Texas,US,31.391,-97.799,Coryell,Texas
1962666,48099.0,Texas,US,31.391,-97.799,Coryell,Texas

In [ ]:
dimension_hospital = hospital_beds[['fips, 'state_name, 'latitude, 'longitude', 'hq_address', 'hopital_name','hospital_type','hq_city','hq_state']]

In [165]:
dimension_date = states_daily[['fips', 'date']]

In [166]:
dimension_date.head()

   fips      date
0  49.0  20210220
1  51.0  20210220
2  78.0  20210220
3  50.0  20210220
4  53.0  20210220

In [170]:
dimension_date['date'] = pd.to_datetime(dimension_date['date'], format='%Y%m%d')
dimension_date['year'] = dimension_date['date'].dt.year
dimension_date['month'] = dimension_date['date'].dt.month
dimension_date['day_of_week'] = dimension_date['date'].dt.dayofweek

/Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [171]:
dimension_date.head()

   fips       date  year  month  day_of_week
0  49.0 2021-02-20  2021      2            5
1  51.0 2021-02-20  2021      2            5
2  78.0 2021-02-20  2021      2            5
3  50.0 2021-02-20  2021      2            5
4  53.0 2021-02-20  2021      2            5

In [172]:
bucket = 'covid-19-analysis'

In [173]:
csv_buffer = StringIO()

In [174]:
csv_buffer

In [175]:
fact_table.to_csv(csv_buffer)

In [176]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '3SDKNXX2DD2V8WRF',
  'HostId': 'iUGB3BohJuPJLazzLPJYNFQPOPv7t1wsoUU1afaKB9aDMgiZYa/6aPJXt4vWqlpqoy2gVgdJCTQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'iUGB3BohJuPJLazzLPJYNFQPOPv7t1wsoUU1afaKB9aDMgiZYa/6aPJXt4vWqlpqoy2gVgdJCTQ=',
   'x-amz-request-id': '3SDKNXX2DD2V8WRF',
   'date': 'Thu, 16 Feb 2023 16:30:22 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"80932712284dea58f3f5ed8f81520c70"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"80932712284dea58f3f5ed8f81520c70"',
 'ServerSideEncryption': 'AES256'}

In [181]:
dimension_region.to_csv(csv_buffer)
s3_resource.Object(bucket, 'output/dimension_region.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'A871D593RTN24TGQ',
  'HostId': 'enmTlcMVw6jbdlJ+CvLKFqBNbX5iBiBAZHY8znXXF9X74+T3m3bvTOcdm1TD0rQ5xB4ciAhM4HI4sdlEdxnmKQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'enmTlcMVw6jbdlJ+CvLKFqBNbX5iBiBAZHY8znXXF9X74+T3m3bvTOcdm1TD0rQ5xB4ciAhM4HI4sdlEdxnmKQ==',
   'x-amz-request-id': 'A871D593RTN24TGQ',
   'date': 'Thu, 16 Feb 2023 16:34:17 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a606ed06a083e75584778a10d8c74d71"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a606ed06a083e75584778a10d8c74d71"',
 'ServerSideEncryption': 'AES256'}

In [ ]:
dimension_hospital.to_csv(csv_buffer)
s3_resource.Object(bucket, 'output/dimension_hospital.csv').put(Body=csv_buffer.getvalue())

In [183]:
dimension_date.to_csv(csv_buffer)
s3_resource.Object(bucket, 'output/dimension_date.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'X3MS17WTK8EDKYS5',
  'HostId': 'mYU1AHPSAjN07jua2Zjn1YNSLsXcshzvE60kgOh/s2JaMKG3y8LIendG9HoMWZZVPYZ+spxg1FI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'mYU1AHPSAjN07jua2Zjn1YNSLsXcshzvE60kgOh/s2JaMKG3y8LIendG9HoMWZZVPYZ+spxg1FI=',
   'x-amz-request-id': 'X3MS17WTK8EDKYS5',
   'date': 'Thu, 16 Feb 2023 16:38:18 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"1a7ee1dbb72bf9aa48d72b3e6e1ad4e0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"1a7ee1dbb72bf9aa48d72b3e6e1ad4e0"',
 'ServerSideEncryption': 'AES256'}

In [185]:
dimesion_date_sql = pd.io.sql.get_schema(dimension_date.reset_index(), 'dimension_date')

In [186]:
fact_table_sql = pd.io.sql.get_schema(fact_table.reset_index(), 'fact_table')

In [187]:
dimesion_region_sql = pd.io.sql.get_schema(dimension_region.reset_index(), 'dimension_region')

In [ ]:
dimesion_hospital_sql = pd.io.sql.get_schema(dimension_hospital.reset_index(), 'dimension_hospital')

In [189]:
pip install redshift_connector

Collecting redshift_connector
  Downloading redshift_connector-2.0.910-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.1/112.1 KB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting requests<3.0.0,>=2.23.0
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 1.7 MB/s eta 0:00:00
Collecting lxml>=4.6.5
  Downloading lxml-4.9.2-cp37-cp37m-macosx_10_15_x86_64.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 3.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from redshift_connector) (1.29.72)
Collecting scramp<1.5.0,>=1.2.0
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from redshift_connector) (1.26.72)
Requirement already satisfied: packaging in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from redshift_connector) (20.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from redshift_connector) (4.8.2)
Requirement already satisfied: setuptools in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from redshift_connector) (46.0.0.post20200309)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 KB 2.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: soupsieve>=1.2 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (1.9.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.12)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.8)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.0.1-cp37-cp37m-macosx_10_9_x86_64.whl (120 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 120.4/120.4 KB 2.7 MB/s eta 0:00:00a 0:00:01
Collecting asn1crypto>=1.5.1
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=1.0 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (4.11.3)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from packaging->redshift_connector) (2.4.6)
Requirement already satisfied: six in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from packaging->redshift_connector) (1.14.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=1.0->scramp<1.5.0,>=1.2.0->redshift_connector) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /Users/varshithagowda/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=1.0->scramp<1.5.0,>=1.2.0->redshift_connector) (2.2.0)
Installing collected packages: pytz, charset-normalizer, asn1crypto, requests, lxml, scramp, redshift_connector
  Attempting uninstall: pytz
    Found existing installation: pytz 2019.3
    Uninstalling pytz-2019.3:
      Successfully uninstalled pytz-2019.3
  Attempting uninstall: asn1crypto
    Found existing installation: asn1crypto 1.3.0
    Uninstalling asn1crypto-1.3.0:
      Successfully uninstalled asn1crypto-1.3.0
  Attempting uninstall: requests
    Found existing installation: requests 2.22.0
    Uninstalling requests-2.22.0:
      Successfully uninstalled requests-2.22.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.5.0
    Uninstalling lxml-4.5.0:
      Successfully uninstalled lxml-4.5.0
Successfully installed asn1crypto-1.5.1 charset-normalizer-3.0.1 lxml-4.9.2 pytz-2022.7.1 redshift_connector-2.0.910 requests-2.28.2 scramp-1.4.4
WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the '/Users/varshithagowda/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [191]:
import redshift_connector

In [209]:
conn = redshift_connector.connect(
    host='redshift-cluster-1.chxgkljlfejp.us-west-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='triShul123'
)

InterfaceError: ('communication error', TimeoutError(60, 'Operation timed out'))

In [193]:
conn.autocommit = True

NameError: name 'conn' is not defined

In [ ]:
cursor = redshift_connector.Cursor = connn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE "dimension_date" (
"index" INTEGER,
"fips" REAL,
"date" TIMESTAMP,
"year" INTEGER,
"month" INTEGER
"day_of_week" INTEGER
)
""")

In [201]:
dimesion_region_sql

'CREATE TABLE "dimension_region" (\n"index" INTEGER,\n  "fips" REAL,\n  "province_state" TEXT,\n  "country_region" TEXT,\n  "latitude" REAL,\n  "longitude" REAL,\n  "county" TEXT,\n  "state" TEXT\n)'

In [202]:
cursor.execute("""
'CREATE TABLE "dimension_region" (
"index" INTEGER,
"fips" REAL,
"province_state" TEXT,
"country_region" TEXT,
"latitude" REAL,
"longitude" REAL,
"county" TEXT,
"state" TEXT
)
""")

NameError: name 'cursor' is not defined

In [203]:
fact_table_sql

'CREATE TABLE "fact_table" (\n"index" INTEGER,\n  "fips" REAL,\n  "province_state" TEXT,\n  "country_region" TEXT,\n  "confirmed" REAL,\n  "deaths" REAL,\n  "recovered" REAL,\n  "active" REAL,\n  "date" INTEGER,\n  "positive" INTEGER,\n  "negative" REAL,\n  "hospitalizedcurrently" REAL,\n  "hospitalized" REAL,\n  "hospitalizeddischarged" REAL\n)'

In [ ]:
dimesion_hospital_sql

In [ ]:
cursor.execute("""
'CREATE TABLE "dimension_hospital" (
"index" INTEGER,
"fips" REAL,
"state_name" TEXT,
"latitude" REAL,
"longitude" REAL,
"hq_address" TEXT,
"hospital_name" TEXT,
"hospital_type" TEXT,
"hq_city" TEXT,
"hq_state" TEXT
)
""")

In [204]:
fact_table_sql

'CREATE TABLE "fact_table" (\n"index" INTEGER,\n  "fips" REAL,\n  "province_state" TEXT,\n  "country_region" TEXT,\n  "confirmed" REAL,\n  "deaths" REAL,\n  "recovered" REAL,\n  "active" REAL,\n  "date" INTEGER,\n  "positive" INTEGER,\n  "negative" REAL,\n  "hospitalizedcurrently" REAL,\n  "hospitalized" REAL,\n  "hospitalizeddischarged" REAL\n)'

In [ ]:
cursor.execute("""
'CREATE TABLE "fact_table" (
"index" INTEGER,
"fips" REAL,
"province_state" TEXT,
"country_region" TEXT,
"confirmed" REAL,
"deaths" REAL,
"recovered" REAL,
"active" REAL,
"date" INTEGER,
"positive" INTEGER,
"negative" REAL,
"hospitalizedcurrently" REAL,
"hospitalized" REAL,
"hospitalizeddischarged" REAL
)
""")

In [ ]:
cursor.execute("""
copy dimension_date from 's3://covid-19-analysis/output/dimension_date.csv'
credentials 'aws_iam_role=arn:aws:iam::995490313216:role/s3-access'
delimiter ','
region 'us-west-1'
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimension_region from 's3://covid-19-analysis/output/dimension_region.csv'
credentials 'aws_iam_role=arn:aws:iam::995490313216:role/s3-access'
delimiter ','
region 'us-west-1'
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimension_hospital from 's3://covid-19-analysis/output/dimension_hospital.csv'
credentials 'aws_iam_role=arn:aws:iam::995490313216:role/s3-access'
delimiter ','
region 'us-west-1'
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy fact_table from 's3://covid-19-analysis/output/fact_table.csv'
credentials 'aws_iam_role=arn:aws:iam::995490313216:role/s3-access'
delimiter ','
region 'us-west-1'
IGNOREHEADER 1
""")